/* ==========================================
   ESTILOS GENERALES (Base)
   ========================================== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin: 0;
}

/* Contenedor principal */
.container {
    background: white;
    padding: 2rem;
    border-radius: 12px;

    
    max-width: 500px;
}

/* Títulos */
h1 {
    color: #000000;
    font-size: 1.8rem;
    text-align: center;
}

/* ==========================================
   FORMULARIO Y ENTRADAS
   ========================================== */
.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border-color: #1a73e8;
}

/* Botones base */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: opacity 0.2s;
}

button:hover {
    opacity: 0.9;
}

/* Colores específicos de botones */
#btnAgregar {
    background-color: #5883b4;
    color: white;
}

#btnSincronizar {
    background-color: #2e4664;
    color: white;
    width: 100%;
    margin-top: 10px;
}

/* ==========================================
   LISTA DE TAREAS (DOM Dinámico)
   ========================================== */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f8f9fa;
    margin-bottom: 8px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border-left: 4px solid #527db5;
}

.btn-delete {
    background-color: #a72e50;
    color: white;
    font-size: 0.8rem;
}